
body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 232, 232);
}


#navbar {
    border:  2px solid black;
    gap: 20px;
    display: flex;
    background-color: blue;
    height: 60px;
    width: 100%;
    border-radius:30px ;

}


a{
    text-decoration: none;
    color: beige;
    margin: auto;
    margin-left: 8
    0px;
}


#signup_form{
   
    width: 200px;
    line-height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: pink;
    border: 5px solid black;;

}


#login_form{
   
    width: 200px;
    line-height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: pink;
    border: 5px solid black;;

}


button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}


h1{
    text-align: center;
}